In [ ]:
import pandas as pd

In [ ]:
df_13 = pd.read_excel('../data/20210913.xlsx', engine='openpyxl', index_col=0)
df_14 = pd.read_excel("../data/20210914.xlsx", engine='openpyxl', index_col=0)

In [ ]:
df_13.head(1)

In [ ]:
## 시가 0인 데이터 있는지 확인 
df_13 = df_13[~(df_13['시가'] == 0)]
df_14 = df_14[df_14['시가'] != 0]

In [ ]:
## 추가 상장된 기업이 있는지 체크 
idx = df_14.index.difference(df_13.index)
df_14.loc[idx, '종목명']

In [ ]:
전일비교시가총액 = df_13["시가총액"].sum()
전일기준시가총액 = df_13["시가총액"].sum()
증감률 = (전일비교시가총액 + df_14.loc[idx[0], '시가총액']) / 전일비교시가총액
당일기준시가총액 = 증감률 * 전일기준시가총액
당일비교시가총액 = df_14['시가총액'].sum()
print( 당일비교시가총액 / 당일기준시가총액 )

## 삼성전자와 코스피 관계

In [ ]:
df = df_14[["종목명", "종가", "시가총액"]]
df.head(2)

In [ ]:
df['비중'] = df['시가총액'] / df['시가총액'].sum() * 100
df.sort_values('비중', ascending=False).head()

In [ ]:
!pip install openpyxl
!pip install pandas
!pip install matplotlib

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
kospi = pd.read_excel("../data/kospi.xlsx", engine='openpyxl')
samsung = pd.read_excel("../data/samsung.xlsx", engine='openpyxl')

In [ ]:
samsung.head()

In [ ]:
data = [kospi['종가'], samsung['종가']]
df = pd.concat(data, axis=1, keys=['kospi', 'samsung'])
df.head()

In [ ]:
df.plot.scatter(x='samsung', y='kospi')

In [12]:
df.corr()

            kospi   samsung
kospi    1.000000  0.966597
samsung  0.966597  1.000000

In [14]:
kospi

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,상장시가총액
0,2021/08/31,3199.27,55.08,1.75,3144.49,3199.89,3130.30,661221,15863630,2309062613
1,2021/08/30,3144.19,10.29,0.33,3160.87,3164.87,3132.77,602858,11758710,2269580866
2,2021/08/27,3133.90,5.37,0.17,3116.29,3143.01,3106.97,520669,11039934,2262422712
3,2021/08/26,3128.53,-18.28,-0.58,3151.30,3159.37,3121.04,727719,13335288,2259280094
4,2021/08/25,3146.81,8.51,0.27,3148.13,3161.00,3124.25,624688,13365596,2272311235
...,...,...,...,...,...,...,...,...,...,...
409,2020/01/08,2151.31,-24.23,-1.11,2156.27,2162.32,2137.72,913831,8750722,1446631314
410,2020/01/07,2175.54,20.47,0.95,2166.60,2181.62,2164.27,568236,5143512,1462298814
411,2020/01/06,2155.07,-21.39,-0.98,2154.97,2164.42,2149.95,592671,5156541,1448385085
412,2020/01/03,2176.46,1.29,0.06,2192.58,2203.38,2165.39,631563,5763663,1462298972
413,2020/01/02,2175.17,-22.50,-1.02,2201.21,2202.32,2171.84,494678,4638167,1461424794

In [15]:
kospi = pd.read_excel("../data/kospi.xlsx", usecols=[0,1,4,5,6,7], parse_dates=[0])
kospi.head()

c:\Users\moons\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

          일자       종가       시가       고가       저가     거래량
0 2021-08-31  3199.27  3144.49  3199.89  3130.30  661221
1 2021-08-30  3144.19  3160.87  3164.87  3132.77  602858
2 2021-08-27  3133.90  3116.29  3143.01  3106.97  520669
3 2021-08-26  3128.53  3151.30  3159.37  3121.04  727719
4 2021-08-25  3146.81  3148.13  3161.00  3124.25  624688

In [18]:
## groupby 사용하는 함수 
## min, mean, max, sum, count, first, last

how = {
    '시가' : 'first', 
    '고가' : 'max', 
    '저가' : 'min', 
    '종가' : 'last', 
    '거래량' : 'sum'
}

kospi.groupby(pd.Grouper(key='일자', freq='q')).agg(how)

                 시가       고가       저가       종가       거래량
일자
2020-03-31  2201.21  2277.23  1439.43  1754.64  44146859
2020-06-30  1737.28  2217.21  1664.13  2108.33  57115323
2020-09-30  2128.81  2458.17  2101.33  2327.89  56116804
2020-12-31  2330.55  2878.21  2266.93  2873.47  64644589
2021-03-31  2874.50  3266.23  2869.11  3061.42  84025557
2021-06-30  3073.77  3316.08  3069.68  3296.68  85211366
2021-09-30  3297.92  3313.51  3049.03  3199.27  35917984

### krx 라이브러리 설치

In [ ]:
!pip install pykrx

In [22]:
from pykrx import stock

In [ ]:
ticker = stock.get_market_ticker_list('20190225')
ticker

In [ ]:
stock.get_market_ticker_list(market='KOSDAQ')

In [26]:
df = stock.get_market_ohlcv("20200101", "20221220", "005930", "m")
df.head()

               시가     고가     저가     종가        거래량
날짜
2020-01-31  55500  62800  54600  56400  319891636
2020-02-29  55500  62000  54200  54200  360007160
2020-03-31  54300  58000  42300  47750  856741868
2020-04-30  47450  52000  45350  50000  424101937
2020-05-31  48900  51200  47200  50700  374264673

In [28]:
stock.get_market_ohlcv('20200102')

            시가      고가      저가      종가      거래량        거래대금   등락률
티커
095570    4900    5140    4895    5050   210107  1056111000  1.61
068400   11800   11950   11700   11800    86321  1016863100  0.00
006840   34300   35450   33650   34850    29008  1004482200  0.72
027410    5570    5610    5500    5500   119121   659409550 -1.79
282330  169000  170000  167500  168500    21308  3598915000 -0.59
...        ...     ...     ...     ...      ...         ...   ...
069260   21100   21150   20600   20600   118882  2463141150 -2.60
000540    3060    3080    3035    3080    20337    62159800  0.49
000547   20250   20300   20250   20300      142     2876950  0.74
000545    4760    4820    4710    4800     7837    37231495 -0.21
003280     485     503     479     501  4590674  2260697942  4.16

[916 rows x 7 columns]

In [29]:
import time

In [30]:
tickers = stock.get_market_ticker_list()

In [33]:
tickers[:4]

['095570', '006840', '027410', '282330']

In [35]:
for i in tickers[:4]:
    df = stock.get_market_ohlcv("20210101", "20220101", i)
    df.to_csv(i+".csv")
    time.sleep(1)

### CAGR 
1. 연복리수익률
2. (최종자산 / 최초자산)^(1/투자기간) - 1

In [36]:
kospi = pd.read_excel("../data/kospi.xlsx", usecols=[0,1], index_col=0, parse_dates=True)

c:\Users\moons\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [39]:
kospi = kospi.sort_index()
kospi.head()

                 종가
일자
2020-01-02  2175.17
2020-01-03  2176.46
2020-01-06  2155.07
2020-01-07  2175.54
2020-01-08  2151.31

In [40]:
수익율 = kospi.iloc[-1, 0] / kospi.iloc[0, 0]
수익율

1.4708137754750203

In [41]:
diff = kospi.index[-1] - kospi.index[0]
diff

Timedelta('607 days 00:00:00')

In [43]:
투자기간 = diff.days / 365 
CARG = 수익율 ** ( 1 / 투자기간 ) - 1
print(CARG * 100)

26.111719470122587