In [ ]:
import pandas as pd

In [ ]:
## 외부 라이브러리 설치
!pip install pandas

In [ ]:
## 스리즈 형태의 데이터를 생성
## pd.Series()
pd_list = pd.Series([5000, 6000, 6500, 6500], 
                    index=["아메리카노", "카페라떼", "카페모카", "카푸치노"])

In [ ]:
print(pd_list)

In [ ]:
## 스리즈 형태의 데이터에서 values 값과 index 값을 따로 출력이 가능
print("스리즈의 value = ", pd_list.values)
print("스리즈의 index = ", pd_list.index)

In [ ]:
## 데이터프레임 형태의 데이터 생성
_value = [[1,2,3], [4,5,6], [7,8,9]]
_index = ['a', 'b', 'c']
_column = ['A', 'B', 'C']

pd_df = pd.DataFrame(_value, index = _index, columns= _column)
print(pd_df)

In [ ]:
pd_df

In [ ]:
## 데이터프레임의 value, index, column의 값을 출력
print("데이터프레임의 value = ", pd_df.values)
print("데이터프레임의 index = ", pd_df.index)
print("데이터프레임의 column = ", pd_df.columns)

In [ ]:
## 딕셔너리 형태의 데이터를 데이터프레임의 형태로 변경
_values = {
    "name" : ["A", "B", "C"], 
    "age" : [20, 30, 40], 
    "phone" : ["01012345678", "01098765432", "01011115555"]
}
print(_values["name"])

In [ ]:
pd_df_2 = pd.DataFrame(_values)
pd_df_2

In [ ]:
## 상단의 행을 기준으로 출력을 하는 head(n) 
## 상단부터 n번째까지 출력하는 하는 함수
pd_df_2.head(2)

In [ ]:
## 하단부터 n번째까지 출력하는 함수 -> tail()
pd_df_2.tail(2)

In [ ]:
## 컬럼을 기준으로 출력
pd_df_2[["age", "phone"]]

In [ ]:
## pandas를 이용해서 외부 파일을 로드 
## csv파일을 로드 -> read_csv(파일명)
df = pd.read_csv("example.csv")
df

### 경로 지정
1. 절대 경로
    - 절대적인 주소
    - ex) c:/users/administrator/a.txt, 인터넷 url
2. 상대 경로
    - 상대적인 주소
    - './' -> 현재 작업중인 폴더
    - '../' -> 상위 폴더로 이동
    - './폴더명/' -> 하위폴더로 이동

In [19]:
## 상위 폴더에 있는 ../
# csv 폴더로 이동해서 csv/
# example.csv 파일을 pandas를 이용하여 로드
df2 = pd.read_csv("../csv/example.csv")
df2

  Name  Gender          Phone
0    A    male  010-1234-5678
1    B  female  010-1234-5679
2    C    male  010-1234-5680
3    D  female  010-1234-5681
4    E    male  010-1234-5682
5    F  female  010-1234-5683
6    G    male  010-1234-5684
7    H  female  010-1234-5685
8    I    male  010-1234-5686
9    J  female  010-1234-5687

In [20]:
## 상위 폴더로 이동해서 
# csv폴더에 
# num_2폴더안에 있는 
# drinks.csv 파일 로드 
df3 = pd.read_csv("../csv/num_2/drinks.csv")
df3

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF