## 데이터프레임의 결합
1. 단순한 행, 열 결합
2. 특정한 조건에 따라서 열을 추가하는 경우

In [1]:
import pandas as pd

In [ ]:
## 단순한 행을 추가 
df = pd.DataFrame({
    'S1' : [1,2,3,4], 
    'S2' : [5,6,7,8]
})
df

In [ ]:
df_2 = pd.DataFrame([1,2])
df_2

### concat()
1. 데이터프레임을 결합하는 함수
2. 매개변수 axis -> 행을 추가를 할지 열을 추가 할지 지정 
3. 단순한 결합
4. 매개변수 ignore_index -> 기본값이 false, 인덱스의 값을 그대로 유지할지 지정

In [6]:
## 행을 추가
# pd.concat([df, df_2], axis=0, ignore_index=True)
pd.concat([df, df_2], axis="rows").reset_index(drop=True)

    S1   S2    0
0  1.0  5.0  NaN
1  2.0  6.0  NaN
2  3.0  7.0  NaN
3  4.0  8.0  NaN
4  NaN  NaN  1.0
5  NaN  NaN  2.0

In [7]:
df_3 = pd.DataFrame({
    'S1' : [1,2]
})

In [9]:
pd.concat([df, df_3], axis=1)

   S1  S2   S1
0   1   5  1.0
1   2   6  2.0
2   3   7  NaN
3   4   8  NaN

### merge()
1. 데이터프레임을 결합하는 함수
2. 특정 조건에 맞춰서 열을 추가하는 함수
3. 매개변수 on -> 조건
4. 매개변수 how -> (left, right, inner, full) 방법

In [10]:
df_4 = pd.DataFrame({
    "id" : [1,2,3,4,5], 
    "item" : ['a', 'b', 'a', 'a', 'b']
})
df_5 = pd.DataFrame({
    "id" : [1,4,5,2,3], 
    "name" : ["kim", "lee", "park", "choi", "ha"]
})

In [14]:
test = df_5.sort_values("id").reset_index(drop=True)

In [15]:
## df_4, df_5 결합

## 단순히 열을 추가하는 concat()
pd.concat([df_4, test], axis=1)

   id item  id  name
0   1    a   1   kim
1   2    b   2  choi
2   3    a   3    ha
3   4    a   4   lee
4   5    b   5  park

In [20]:
## 단순한 열 결합 X
## 특정한 조건에 맞게 열 결합
## merge(데이터프레임, 데이터프레임, on = 조건, how = 방법)
pd.merge(df_4, df_5, on = 'id', how="left")

## left, right, inner 데이터의 순서가 다를뿐 내용은 같은 내용이 출력
## 이유는??
##

   id item  name
0   1    a   kim
1   2    b  choi
2   3    a    ha
3   4    a   lee
4   5    b  park

In [21]:
df_6 = pd.DataFrame({
    "item" : ['a', 'b', 'c'], 
    'item_price' : ["100", "200", "300"]
})

In [23]:
## df_4와 df_6 merge()이용하여 결합
## on이라는 조건에 들어가야될 값은? -> item
## df_4 -> item 값 리스트 -> [a, b]
## df_6 -> item 값 리스트 -> [a, b, c]

pd.merge(df_4, df_6, on='item', how='right')

    id item item_price
0  1.0    a        100
1  3.0    a        100
2  4.0    a        100
3  2.0    b        200
4  5.0    b        200
5  NaN    c        300

In [24]:
df_7 = pd.DataFrame({
    "id": [1,2,3,4,5,6], 
    "item" : ['a', 'a', 'b', 'a', 'b', 'd']
})

In [28]:
pd.merge(df_7, df_6, on='item', how='outer')

    id item item_price
0  1.0    a        100
1  2.0    a        100
2  4.0    a        100
3  3.0    b        200
4  5.0    b        200
5  6.0    d        NaN
6  NaN    c        300

In [29]:
a = pd.DataFrame({
    'id' : [1,2,3], 
    'item' : ['a', 'b', 'a']
})

b = pd.DataFrame({
    'item' : ['a', 'a', 'b'], 
    'price' : [100, 150, 200]
})

In [30]:
pd.merge(a, b, on = 'item', how = 'left')

   id item  price
0   1    a    100
1   1    a    150
2   2    b    200
3   3    a    100
4   3    a    150