### 복습
1. corona.csv 파일을 로드
2. 결측치가 존재하는지 확인 
3. Unnamed: 0 컬럼 삭제
3. 컬럼의 이름 변경 -> [등록일시, 사망자, 확진자, 게시글번호, 기준일, 기준시간, 수정일시, 누적의심자, 누적확진율]
4. 등록일시를 기준으로 오름차순 정렬, 인덱스 리셋 (기존의 인덱스 삭제)
5. 새로운 파생변수 일일 사망자, 일일 확진자 생성
6. 게시글번호, 기준일, 기준시간 컬럼을 삭제
7. 일일사망자가 음수인 행을 삭제

In [34]:
import pandas as pd

In [35]:
corona = pd.read_csv("../csv/corona.csv")
corona.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 820 entries, 0 to 819
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  820 non-null    int64
 1   createDt    820 non-null    object
 2   deathCnt    820 non-null    int64
 3   decideCnt   820 non-null    int64
 4   seq         820 non-null    int64
 5   stateDt     820 non-null    int64
 6   stateTime   820 non-null    object
 7   updateDt    817 non-null    object
 8   accExamCnt  692 non-null    float64
 9   accDefRate  623 non-null    float64
dtypes: float64(2), int64(5), object(3)
memory usage: 64.2+ KB

In [36]:
## 결측치 확인 
corona.isna().sum()

Unnamed: 0      0
createDt        0
deathCnt        0
decideCnt       0
seq             0
stateDt         0
stateTime       0
updateDt        3
accExamCnt    128
accDefRate    197
dtype: int64

In [37]:
## 컬럼 삭제 
corona = corona.drop('Unnamed: 0', axis=1)
# corona.iloc[:, 1:]
# corona.loc[:, 'createDt':]

In [38]:
## 컬럼의 이름은 변경
corona.columns = ['등록일시', '사망자', '확진자', '게시글번호', '기준일', 
                '기준시간', '수정일시', '누적의심자', '누적확진율']

In [39]:
corona.sort_values('등록일시', ascending=True, inplace=True)
corona.reset_index(drop=True, inplace=True)

In [40]:
corona['일일사망자'] = corona['사망자'].diff()
corona['일일확진자'] = corona['확진자'] - corona['확진자'].shift()
corona.head()

,등록일시,사망자,확진자,게시글번호,기준일,기준시간,수정일시,누적의심자,누적확진율,일일사망자,일일확진자
0,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308,NaN,NaN
1,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175,6.0,242.0
2,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744,6.0,114.0
3,2020-03-13 00:00:00.000,67,7979,54,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499,1.0,110.0
4,2020-03-14 00:00:00.000,72,8086,55,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000,5.0,107.0

In [41]:
corona.drop(['게시글번호', '기준일', '기준시간'], axis=1, inplace=True)

In [42]:
corona.head()

,등록일시,사망자,확진자,수정일시,누적의심자,누적확진율,일일사망자,일일확진자
0,2020-03-10 00:00:00.000,54,7513,2021-10-07 10:30:51.51,210144.0,3.919308,NaN,NaN
1,2020-03-11 00:00:00.000,60,7755,2021-10-07 10:30:51.51,222395.0,3.804175,6.0,242.0
2,2020-03-12 00:00:00.000,66,7869,2021-10-07 10:30:51.51,234998.0,3.621744,6.0,114.0
3,2020-03-13 00:00:00.000,67,7979,2021-10-07 10:30:51.51,248647.0,3.458499,1.0,110.0
4,2020-03-14 00:00:00.000,72,8086,2021-10-07 10:30:51.51,261335.0,3.318000,5.0,107.0

In [43]:
## 일일사망자, 일일확진자 음수 데이터를 탐색
error_index = corona[(corona["일일사망자"] < 0)].index

In [44]:
corona.drop(error_index, axis=0, inplace=True)

In [45]:
corona.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 819 entries, 0 to 819
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   등록일시    819 non-null    object
 1   사망자     819 non-null    int64
 2   확진자     819 non-null    int64
 3   수정일시    816 non-null    object
 4   누적의심자   691 non-null    float64
 5   누적확진율   622 non-null    float64
 6   일일사망자   818 non-null    float64
 7   일일확진자   818 non-null    float64
dtypes: float64(4), int64(2), object(2)
memory usage: 57.6+ KB