### mod_sql 모듈
1. mod_sql 모듈 로드 
2. class를 생성
    - 대면 : host(172.16.12.149) user(ubion) password(1234)
    - 비대면 : host(darkpreist.iptime.org) user(ubion) password(1234)
3. select문을 만들어서 executeAll 함수를 이용해서 결과값 리턴
    - corona 데이터를 select 
    - 데이터의 개수는 10개
4. insert문을 이용하여 데이터의 삽입
    - user_list 테이블에 id와 password를 입력
    - id는 자기 자신의 이름, password 랜덤하게 입력
5. commit(), close() 해서 데이터베이스와의 접속 종료

In [2]:
## 모듈 로드 
import mod_sql as ms
## 모듈 수정 후 리로드
import imp
imp.reload(ms)

In [4]:
### class 생성
db_class = ms.Database("darkpreist.iptime.org", "ubion", "1234")
db_class_2 = ms.Database("172.16.12.149", 'ubion', '1234')

In [ ]:
sql = """
        select 
        * 
        from 
        corona
"""
db_class.executeAll(sql, [], 10)

In [ ]:
db_class_2.executeAll(sql, _limit = 10)

In [10]:
insert_sql = """
        insert into 
        user_list 
        values 
        (%s, %s)
"""
_id = input("id : ")
_pass = input("password : ")

db_class.execute(insert_sql, [_id, _pass])

()

In [11]:
db_class.commit()

'commit complete'

In [12]:
db_class_2.execute(insert_sql, [_id, _pass])

()

In [13]:
db_class_2.commit()

'commit complete'

In [ ]:
db_class.close()

In [14]:
delete_sql = """
    delete 
    from 
    user_list 
    where 
    `id` = %s
"""
value = 'test'
db_class_2.execute(delete_sql, [value])

()

In [15]:
db_class_2.commit()

'commit complete'

In [17]:
## user_list 테이블에서 password가 1234인 데이터를 출력
## values를 사용하여 출력
select_sql = """
        select 
        * 
        from 
        user_list 
        where 
        `password` = %s
"""
value = '1234'
db_class_2.executeAll(select_sql, [value])

     id password
0  hong     1234
1   기지훈     1234
2   김정우     1234
3   서선우     1234
4   홍성일     1234

In [18]:
db_class.executeAll(select_sql, [value])

    id password
0  이호성     1234

### data의 확인
1. id, password의 값을 받아오는 작업(input)
2. user_list 테이블에서 받아온 id, password의 값이 존재하는지 체크
3. 존재한다면 '성공' 존재하지 않으면 '실패' 메시지의 리턴

In [20]:
sql_class = ms.Database('darkpreist.iptime.org', 'ubion', '1234')

In [29]:
_id = input("id : ")
_pass = input("password : ")

sql = """
        select 
        * 
        from 
        user_list 
        where 
        `id` = %s 
        and 
        `password` = %s
"""

result = sql_class.execute(sql, [_id, _pass])
## result 값을 예상
## 성공 -> id와 password의 값이 데이터 안에 존재
## -> result 안에 데이터의 형태는 [{'id':xxx, 'password':xxxx}]
## -> 성공시 리스트 안에 항목은 1개 이유는? -> id가 primary key이기 때문에
## 유니크 속성과 not null의 속성을 가진다. 
## id로 검색하는 경우에는 1개의 데이터 이상을 가질 수 없다.
## 실패 -> id와 password의 값이 존재하지 않는 경우 id와 password 중 하나만 틀려도 실패
## -> result 안에 데이터의 형태는 ()

## 데이터의 존재 유무 

# CASE1
# if result == ():
#     print("실패")
# else : 
#     print("성공")

# case2
# if result == [{'id': _id, 'password': _pass}] :
#     print("성공")
# else : 
#     print("실패")
if result:
    print("성공")
else : 
    print("실패")

성공

### api형식의 데이터를 보내기
1. id, password의 데이터가 존재하면 (로그인이 성공하면)
2. 성공시에는 corona 데이터를 데이터프레임으로 출력
3. 실패시에는 '로그인 실패' 출력

In [ ]:
_id = input("id : ")
_pass = input("password : ")
sql = """
        select 
        * 
        from 
        user_list 
        where 
        `id` = %s 
        and 
        `password` = %s
"""
result = sql_class.execute(sql, [_id, _pass])

corona_sql = """
        select 
        * 
        from 
        corona
"""

if result : 
    ## corona data 출력
    result2 = sql_class.executeAll(corona_sql)
else:
    result2 = "로그인 실패"

result2

In [33]:
## 위의 코드를 함수 형태로 변환

# case1
_id = input("id : ")
_pass = input("password : ")
sql = """
        select 
        * 
        from 
        user_list 
        where 
        `id` = %s
        and 
        `password` = %s
"""
def login(input_sql, input_id, input_pass):
    result = sql_class.execute(input_sql, [input_id, input_pass])
    if result : 
        corona_sql = """
            select 
            * 
            from 
            corona
        """
        return sql_class.executeAll(corona_sql)
    else : 
        return "로그인 실패"

login(sql, _id, _pass)

'로그인 실패'

In [ ]:
def login2():
    _id = input("id : ")
    _pass = input("password : ")
    sql = """
        select 
        * 
        from 
        user_list 
        where 
        `id` = %s 
        and 
        `password` = %s
    """
    result = sql_class.execute(sql, [_id, _pass])
    if result : 
        corona_sql = """
            select 
            * 
            from 
            corona
        """
        return sql_class.executeAll(corona_sql)
    else : 
        return "로그인 실패"

login2()

### 연습문제 
1. login() 함수를 변형
2. 매개변수가 3개에서 4개 증가
3. sql, id, password외의 table 매개변수 생성
4. table 매개변수 -> sql에 있는 table 이름
5. 예시 : table이 sales records이면 sales records 데이터를 리턴
6. 대면 : 함수가 완성되면 sales records 인자 값에 넣어서 확인 
7. 비대면 : sales 인자값을 넣어서 확인