In [ ]:
## python에서 몽고db를 연결하려면 라이브러리 
!pip install pymongo

In [2]:
from pymongo import MongoClient

In [3]:
client = MongoClient(
    host = '172.16.12.149', 
    port = 27017
)

In [8]:
## mongodb에 있는 데이터베이스 목록 출력 
client.list_database_names()

['admin', 'config', 'local']

In [5]:
## 데이터접근 use와 같은 기능 
## mongodb에서는 use을 이용하면 새로운 데이터베이스 생성
db = client['ubion']

In [7]:
## collection 접근 (collection은 sql에 table과 같은 의미)
collection = db['test']

In [9]:
### CRUD

## create -> insert()
## insert_many() / insert_one() 두개의 함수가 존재
## sql에서도 같은 기능이 존재
## insert into 테이블명(필드 지정) values (데이터 값)
## insert into 테이블명(필드 지정) value (데이터 값)
data = {
    "id" : "test", 
    "password" : "1234"
}
collection.insert_one(data)

In [10]:
collection.find_one()

{'_id': ObjectId('63ace0eb4dbe135177252dbc'), 'id': 'test', 'password': '1234'}

In [11]:
data = [
    {
        "name" : "test", 
        "phone" : "01012345678", 
        "gender" : "male"
    }, 
    {
        "loc" : "seoul"
    }
]
collection.insert_many(data)

1. sql에서 id, pass 데이터 / name, phone, gender 데이터 / loc 데이터 가 존재한다면 어떤 형식으로 구현
2. table을 3개를 생성 
3. 각 table에 데이터들을 저장 
4. 이유는 sql은 정형화 데이터를 저장하는 방식이기 때문

In [14]:
list(client['ubion']['test'].find({}, {"name" : 1}))
### select name from test

[{'_id': ObjectId('63ace0eb4dbe135177252dbc')},
 {'_id': ObjectId('63ace30b4dbe135177252dbd'), 'name': 'test'},
 {'_id': ObjectId('63ace30b4dbe135177252dbe')}]

In [15]:
## update 수정 
collection.update_one(
    {
        "id" : "test"
    }, 
    {
        "$set" : {
            "password" : "0000"
        }
    }
)

In [16]:
list(collection.find())

[{'_id': ObjectId('63ace0eb4dbe135177252dbc'),
  'id': 'test',
  'password': '0000'},
 {'_id': ObjectId('63ace30b4dbe135177252dbd'),
  'name': 'test',
  'phone': '01012345678',
  'gender': 'male'},
 {'_id': ObjectId('63ace30b4dbe135177252dbe'), 'loc': 'seoul'}]

In [17]:
## 삭제 delete 
collection.delete_one(
    {
        "id" : "test"
    }
)

In [18]:
list(collection.find())

[{'_id': ObjectId('63ace30b4dbe135177252dbd'),
  'name': 'test',
  'phone': '01012345678',
  'gender': 'male'},
 {'_id': ObjectId('63ace30b4dbe135177252dbe'), 'loc': 'seoul'}]

### mongodb select 조건식
find(조건1, 조건2, 조건3 ..., 컬럼 선택)
1. db.collection.find() -> SELECT * FROM TABLE
2. db.collection.find({}, {"id":1, "password":1}) -> SELECT _id, id, password FROM TABLE
3. db.collection.find({}, {"id":1, "password":1, "_id":0}) -> SELECT id, password FROM TABLE (_id라는 항목은 보여주지 않겠다)
4. db.collection.find({"id":"test"}) -> SELECT * FROM TABLE WHERE id = 'test'
5. db.collection.find({"id":"test", "password":"1234"}) -> SELECT * FROM TABLE WHERE id = 'test' and password = '1234
6. db.collection.find({"id":"test"}, {"password":"1234"}) -> SELECT * FROM TABLE WHERE id = 'test' or password = '1234'
7. db.collection.find({"age":{$gt : 25}}) -> SELECT * FROM TABLE WHERE age > 25
8. db.collection.find({"age":{$lt : 25}}) -> SELECT * FROM TABLE WHERE age < 25
9. db.collection.find({"id": {/bc/}}) -> SELECT * FROM TABLE WHERE id LIKE '%bc%'
10. db.collection.find().sort({"id":1}) -> SELECT * FROM TABLE ORDER BY id ASC 
11. db.collection.find().sort({"id":-1}) -> SELECT * FROM TABLE ORDER BY id DESC 
12. db.collection.find().limit(10) -> SELECT * FROM TABLE LIMIT 10