In [ ]:
import pandas as pd

In [ ]:
## 코로나 데이터를 로드 
corona_df = pd.read_csv("corona.csv")
corona_df.head()

In [ ]:
## 데이터프레임에서 컬럼을 삭제
## drop() 함수를 이용하여 컬럼을 삭제
## drop 함수는 axis라는 매개변수의 값을 기준으로 행, 열을 삭제한다. 
## inplace라는 매개변수 기본값이 false -> True 변경을 하면 
## 기준이 되는 데이터의 값이 변환

# corona = corona_df.drop(["Unnamed: 0"], axis=1)
# corona_df.drop(["Unnamed: 0"], axis=1, inplace=True)
# corona_df = corona_df.drop(["Unnamed: 0"], axis=1)

In [ ]:
corona.head()

In [ ]:
## 컬럼의 이름을 변경
## 데이터프레임에 있는 컬럼의 값들을 출력하는 방법
## 데이터프레임명.columns 
corona.columns = ["등록일시", "사망자", "확진자", "게시글번호", "기준일", 
                "기준시간", "수정일시", "누적의심자", "누적확진률"
                ]

In [ ]:
corona.head()

In [ ]:
## corona 데이터프레임에서 컬럼 '게시글번호'를 삭제
## corona라는 변수를 수정

#case1
# corona = corona.drop(["게시글번호"], axis="columns")
#case2
corona.drop(["게시글번호"], axis=1, inplace=True)

In [ ]:
corona.head()

In [ ]:
## 데이터프레임에 정렬을 변경
corona.sort_values(["등록일시"], inplace=True)

In [ ]:
corona.head()

In [ ]:
## 인덱스를 초기화하여 새로운 넘버링
corona.reset_index(drop=True, inplace=True)

In [ ]:
corona.tail()

In [ ]:
## 데이터간의 차이를 나타내는 함수
## diff()
# corona["확진자"].diff()

## corona 데이터프레임에 새로운 파생변수(일일 확진자) 추가
corona["일일 확진자"] = corona["확진자"].diff()

In [ ]:
corona.head()

In [ ]:
## 새로운 파생변수 일일 사망자를 추가
## 누적의심자, 누적확진률 컬럼을 삭제 (corona데이터프레임을 변경)

corona["일일 사망자"] = corona["사망자"].diff()

corona.drop(["누적의심자", "누적확진률"], axis=1, inplace=True)

In [ ]:
corona.head()

In [ ]:
## 결측치가 존재하는 행을 삭제
## dropna() 함수를 이용하여 삭제
corona.dropna(axis=0)

In [ ]:
## 특정한 행을 삭제
## drop() 함수를 이용하여 삭제
corona.drop([0], axis=0)

In [36]:
## 특정한 행을 삭제 
## 인덱스의 값이 0 부터 10까지를 삭제
corona.drop([], axis=0)

SyntaxError: invalid syntax (<ipython-input-36-d0a51ca944f3>, line 3)

In [40]:
## 결측치를 다른 값으로 대체 
## fillna(값) -> 결측치의 값들이 대체

## corona 데이터프레임 안에 있는 모든 결측치를 0으로 대체
corona.fillna(0)

## corona데이터프레임에서 일일 확진자에 있는 결측치만 0으로 대체
corona["일일 확진자"] = corona["일일 확진자"].fillna(0)
corona.head()

,등록일시,사망자,확진자,기준일,기준시간,수정일시,일일 확진자,일일 사망자
0,2020-01-20 17:00:00.000,0,1,20200120,17:00,2021-10-07 10:30:51.51,0.0,NaN
1,2020-01-21 09:00:00.000,0,1,20200121,09:00,2021-10-07 10:30:51.51,0.0,0.0
2,2020-01-22 12:00:00.000,0,1,20200122,12:00,2021-10-07 10:30:51.51,0.0,0.0
3,2020-01-23 09:00:00.000,0,1,20200123,09:00,2021-10-07 10:30:51.51,0.0,0.0
4,2020-01-24 00:00:00.000,0,2,20200124,00:00,2021-10-07 10:30:51.51,1.0,0.0

In [41]:
corona.drop(list(range(11)), axis=0)

,등록일시,사망자,확진자,기준일,기준시간,수정일시,일일 확진자,일일 사망자
11,2020-01-31 00:00:00.000,0,11,20200131,00:00,2021-10-07 10:30:51.51,4.0,0.0
12,2020-02-01 00:00:00.000,0,12,20200201,00:00,2021-10-07 10:30:51.51,1.0,0.0
13,2020-02-02 00:00:00.000,0,15,20200202,00:00,2021-10-07 10:30:51.51,3.0,0.0
14,2020-02-03 00:00:00.000,0,15,20200203,00:00,2021-10-07 10:30:51.51,0.0,0.0
15,2020-02-04 00:00:00.000,0,16,20200204,00:00,2021-10-07 10:30:51.51,1.0,0.0
...,...,...,...,...,...,...,...,...
1054,2022-12-10 00:41:17.0,31029,27674163,20221210,00:00,NaN,62738.0,54.0
1055,2022-12-11 01:10:06.0,31069,27728482,20221211,00:00,NaN,54319.0,40.0
1056,2022-12-12 00:34:36.0,31099,27754149,20221212,00:00,NaN,25667.0,30.0
1057,2022-12-13 04:34:20.0,31128,27841001,20221213,00:00,NaN,86852.0,29.0
1058,2022-12-14 00:42:41.0,31174,27925572,20221214,00:00,NaN,84571.0,46.0