In [1]:
import pandas as pd

In [2]:
## 코로나 데이터를 로드 
corona_df = pd.read_csv("corona.csv")
corona_df.head()

,Unnamed: 0,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,0,2022-12-14 00:42:41.0,31174,27925572,1099,20221214,00:00,NaN,NaN,NaN
1,1,2022-12-13 04:34:20.0,31128,27841001,1098,20221213,00:00,NaN,NaN,NaN
2,2,2022-12-12 00:34:36.0,31099,27754149,1097,20221212,00:00,NaN,NaN,NaN
3,3,2022-12-11 01:10:06.0,31069,27728482,1096,20221211,00:00,NaN,NaN,NaN
4,4,2022-12-10 00:41:17.0,31029,27674163,1095,20221210,00:00,NaN,NaN,NaN

In [ ]:
## 데이터프레임에서 컬럼을 삭제
## drop() 함수를 이용하여 컬럼을 삭제
## drop 함수는 axis라는 매개변수의 값을 기준으로 행, 열을 삭제한다. 
## inplace라는 매개변수 기본값이 false -> True 변경을 하면 
## 기준이 되는 데이터의 값이 변환

# corona = corona_df.drop(["Unnamed: 0"], axis=1)
# corona_df.drop(["Unnamed: 0"], axis=1, inplace=True)
# corona_df = corona_df.drop(["Unnamed: 0"], axis=1)

In [ ]:
corona.head()

In [11]:
## 컬럼의 이름을 변경
## 데이터프레임에 있는 컬럼의 값들을 출력하는 방법
## 데이터프레임명.columns 
corona.columns = ["등록일시", "사망자", "확진자", "게시글번호", "기준일", 
                "기준시간", "수정일시", "누적의심자", "누적확진률"
                ]

In [ ]:
corona.head()

In [13]:
## corona 데이터프레임에서 컬럼 '게시글번호'를 삭제
## corona라는 변수를 수정

#case1
# corona = corona.drop(["게시글번호"], axis="columns")
#case2
corona.drop(["게시글번호"], axis=1, inplace=True)

In [14]:
corona.head()

                    등록일시    사망자       확진자       기준일   기준시간 수정일시  누적의심자  누적확진률
0  2022-12-14 00:42:41.0  31174  27925572  20221214  00:00  NaN    NaN    NaN
1  2022-12-13 04:34:20.0  31128  27841001  20221213  00:00  NaN    NaN    NaN
2  2022-12-12 00:34:36.0  31099  27754149  20221212  00:00  NaN    NaN    NaN
3  2022-12-11 01:10:06.0  31069  27728482  20221211  00:00  NaN    NaN    NaN
4  2022-12-10 00:41:17.0  31029  27674163  20221210  00:00  NaN    NaN    NaN

In [16]:
## 데이터프레임에 정렬을 변경
corona.sort_values(["등록일시"], inplace=True)

In [ ]:
corona.head()

In [20]:
## 인덱스를 초기화하여 새로운 넘버링
corona.reset_index(drop=True, inplace=True)

In [ ]:
corona.tail()

In [25]:
## 데이터간의 차이를 나타내는 함수
## diff()
# corona["확진자"].diff()

## corona 데이터프레임에 새로운 파생변수(일일 확진자) 추가
corona["일일 확진자"] = corona["확진자"].diff()

In [27]:
corona.head()

,등록일시,사망자,확진자,기준일,기준시간,수정일시,누적의심자,누적확진률,일일 확진자
0,2020-01-20 17:00:00.000,0,1,20200120,17:00,2021-10-07 10:30:51.51,4.0,25.000000,NaN
1,2020-01-21 09:00:00.000,0,1,20200121,09:00,2021-10-07 10:30:51.51,15.0,6.666667,0.0
2,2020-01-22 12:00:00.000,0,1,20200122,12:00,2021-10-07 10:30:51.51,21.0,4.761905,0.0
3,2020-01-23 09:00:00.000,0,1,20200123,09:00,2021-10-07 10:30:51.51,25.0,4.000000,0.0
4,2020-01-24 00:00:00.000,0,2,20200124,00:00,2021-10-07 10:30:51.51,29.0,6.896552,1.0

In [ ]:
## 새로운 파생변수 일일 사망자를 추가
## 누적의심자, 누적확진률 컬럼을 삭제 (corona데이터프레임을 변경)