In [52]:
import pandas as pd

In [75]:
uriage = pd.read_csv("../csv/uriage.csv")
uriage.head()

      purchase_date item_name  item_price customer_name
0  2019-06-13 18:02       상품A       100.0           김가온
1  2019-07-13 13:05     상 품 S         NaN           김우찬
2  2019-05-11 19:42     상 품 a         NaN           김유찬
3  2019-02-12 23:40       상품Z      2600.0           김재현
4   2019-04-22 3:09       상품a         NaN           김강현

In [76]:
uriage.isna().sum()

purchase_date      0
item_name          0
item_price       387
customer_name      0
dtype: int64

1. purchase_date 컬럼의 데이터를 시계열 데이터로 변경
2. item_name의 데이터를 모두 대문자로 변경
3. item_name의 데이터에서 공백을 삭제
4. item_name를 기준으로 오름차순 정렬
5. 인덱스 초기화

In [77]:
# 1. purchase_date 컬럼의 데이터를 시계열로 변경
# pd.to_datetime(변경할 데이터, format = "")
uriage["purchase_date"] = pd.to_datetime(uriage["purchase_date"])

In [78]:
# 2. item_name에 있는 데이터를 모두 대문자로 통일
# upper() 함수를 이용하면 모든 문자가 대문자로 변경

uriage["item_name"] = uriage["item_name"].str.upper()

In [79]:
# 3. item_name의 데이터에서 공백을 제거 
# 공백을 제거하는 함수 
# strip() -> 양쪽의 공백을 제거하는 함수 (문자열 사이에 공백은 제거하지 못한다.)
# replace() -> 지정한 문자열은 대체하는 함수 -> " " , "" 대체를 하는 작업 (공백 제거)

# case1
# uriage["item_name"].str.replace(" ", "")

# case2
# apply 함수

# def change(x):
#     result = x.replace(" ", "")
#     return result

# uriage["item_name"].apply(change)

# case3
# apply 함수 + lamda 함수 

uriage["item_name"].apply(lambda x : x.replace(" ", ""))

0       상품A
1       상품S
2       상품A
3       상품Z
4       상품A
       ...
2994    상품Y
2995    상품M
2996    상품Q
2997    상품H
2998    상품D
Name: item_name, Length: 2999, dtype: object

In [80]:
uriage["item_name"] = uriage["item_name"].apply(lambda x : x.replace(" ",""))

In [81]:
## item_name을 기준으로 오름차순으로 정렬

# uriage.sort_values("item_name", inplace=True)
uriage = uriage.sort_values("item_name")

In [82]:
## 인덱스를 초기화 기존의 인덱스는 삭제
# uriage.reset_index().drop("index", axis=1)
uriage.reset_index(drop=True, inplace=True)

### 결측치에 데이터를 치환
1. 상품A의 item_price의 값은 결측치중 상품이 A면 이 값을 치환
2. 나머지 상품들도 마찬가지로 같은 작업을 반복

In [61]:
uriage

           purchase_date item_name  item_price customer_name
0    2019-06-13 18:02:00       상품A       100.0           김가온
1    2019-05-19 20:22:00       상품A       100.0           김시훈
2    2019-06-25 08:13:00       상품A       100.0           김유진
3    2019-06-13 16:03:00       상품A       100.0           김건희
4    2019-02-10 00:28:00       상품A       100.0           김하랑
...                  ...       ...         ...           ...
2994 2019-04-22 00:36:00       상품Y         NaN           김동욱
2995 2019-04-30 14:21:00       상품Y         NaN           김하준
2996 2019-01-24 10:27:00       상품Y      2500.0           김범준
2997 2019-05-28 13:45:00       상품Y      2500.0           김수현
2998 2019-02-12 23:40:00       상품Z      2600.0           김재현

[2999 rows x 4 columns]

In [62]:
flg_null = uriage["item_price"].isna()

In [63]:
## 결측치인 값을 확인
uriage.loc[flg_null]

           purchase_date item_name  item_price customer_name
18   2019-04-11 02:22:00       상품A         NaN           김선우
22   2019-07-07 21:49:00       상품A         NaN           김은우
32   2019-07-14 03:39:00       상품A         NaN           김시우
38   2019-05-25 12:51:00       상품A         NaN           김재민
44   2019-02-28 04:11:00       상품A         NaN           김서준
...                  ...       ...         ...           ...
2982 2019-03-30 18:50:00       상품Y         NaN           김하율
2984 2019-07-31 16:58:00       상품Y         NaN           김범준
2988 2019-02-20 05:22:00       상품Y         NaN           김은혁
2994 2019-04-22 00:36:00       상품Y         NaN           김동욱
2995 2019-04-30 14:21:00       상품Y         NaN           김하준

[387 rows x 4 columns]

In [64]:
## 결측치가 아닌 값을 확인
## ~ 연산자 : not -> True - False 변경 반대도 마찬가지로 행동
uriage.loc[~flg_null]

           purchase_date item_name  item_price customer_name
0    2019-06-13 18:02:00       상품A       100.0           김가온
1    2019-05-19 20:22:00       상품A       100.0           김시훈
2    2019-06-25 08:13:00       상품A       100.0           김유진
3    2019-06-13 16:03:00       상품A       100.0           김건희
4    2019-02-10 00:28:00       상품A       100.0           김하랑
...                  ...       ...         ...           ...
2992 2019-05-17 18:15:00       상품Y      2500.0           김민기
2993 2019-05-26 10:26:00       상품Y      2500.0           김재민
2996 2019-01-24 10:27:00       상품Y      2500.0           김범준
2997 2019-05-28 13:45:00       상품Y      2500.0           김수현
2998 2019-02-12 23:40:00       상품Z      2600.0           김재현

[2612 rows x 4 columns]

In [65]:
## 상품A인 데이터프레임 출력
uriage.loc[uriage["item_name"] == "상품A"]

          purchase_date item_name  item_price customer_name
0   2019-06-13 18:02:00       상품A       100.0           김가온
1   2019-05-19 20:22:00       상품A       100.0           김시훈
2   2019-06-25 08:13:00       상품A       100.0           김유진
3   2019-06-13 16:03:00       상품A       100.0           김건희
4   2019-02-10 00:28:00       상품A       100.0           김하랑
..                  ...       ...         ...           ...
134 2019-01-13 11:50:00       상품A       100.0           김시율
135 2019-03-09 14:20:00       상품A         NaN           김우찬
136 2019-05-11 19:42:00       상품A         NaN           김유찬
137 2019-04-25 17:15:00       상품A       100.0           김강현
138 2019-05-20 14:05:00       상품A       100.0           김지안

[139 rows x 4 columns]

In [66]:
## 상품A이고 결측치인 데이터프레임만 출력
uriage.loc[(uriage["item_name"] == "상품A") & flg_null]

          purchase_date item_name  item_price customer_name
18  2019-04-11 02:22:00       상품A         NaN           김선우
22  2019-07-07 21:49:00       상품A         NaN           김은우
32  2019-07-14 03:39:00       상품A         NaN           김시우
38  2019-05-25 12:51:00       상품A         NaN           김재민
44  2019-02-28 04:11:00       상품A         NaN           김서준
46  2019-02-13 07:28:00       상품A         NaN           김시환
48  2019-07-31 01:32:00       상품A         NaN           김윤찬
51  2019-04-06 11:06:00       상품A         NaN           김태인
58  2019-03-15 09:14:00       상품A         NaN           김강현
59  2019-06-24 05:06:00       상품A         NaN           김시호
68  2019-03-16 17:23:00       상품A         NaN           김주원
86  2019-01-15 22:59:00       상품A         NaN           김하진
96  2019-01-21 03:33:00       상품A         NaN           김진우
102 2019-07-19 14:12:00       상품A         NaN           김서윤
110 2019-03-05 20:21:00       상품A         NaN           김주혁
112 2019-05-18 19:16:00       상품A         NaN           김재준
115 2019-01-28 22:13:00       상품A         NaN           김윤호
118 2019-06-11 12:57:00       상품A         NaN           김재호
128 2019-04-22 03:09:00       상품A         NaN           김강현
132 2019-06-21 11:09:00       상품A         NaN           김승훈
135 2019-03-09 14:20:00       상품A         NaN           김우찬
136 2019-05-11 19:42:00       상품A         NaN           김유찬

In [67]:
uriage["item_name"].value_counts().index

Index(['상품S', '상품A', '상품R', '상품P', '상품V', '상품C', '상품F', '상품Q', '상품D', '상품O',
       '상품W', '상품N', '상품T', '상품X', '상품J', '상품I', '상품M', '상품B', '상품G', '상품L',
       '상품H', '상품K', '상품U', '상품E', '상품Y', '상품Z'],
      dtype='object')

In [68]:
uriage["item_name"].unique()

array(['상품A', '상품B', '상품C', '상품D', '상품E', '상품F', '상품G', '상품H', '상품I',
       '상품J', '상품K', '상품L', '상품M', '상품N', '상품O', '상품P', '상품Q', '상품R',
       '상품S', '상품T', '상품U', '상품V', '상품W', '상품X', '상품Y', '상품Z'],
      dtype=object)

In [69]:
## 상품A인 제품들의 결측치를 제외한 item_price의 평균값 출력
# uriage.loc[(uriage["item_name"]== "상품A") & ~flg_null]["item_price"]
a_price = uriage.loc[(uriage["item_name"]== "상품A") & ~flg_null, "item_price"].mean()

In [70]:
## 상품A인 제품들의 결측치인 데이터프레임을 출력
uriage.loc[(uriage["item_name"] == "상품A") & flg_null].fillna(a_price)

          purchase_date item_name  item_price customer_name
18  2019-04-11 02:22:00       상품A       100.0           김선우
22  2019-07-07 21:49:00       상품A       100.0           김은우
32  2019-07-14 03:39:00       상품A       100.0           김시우
38  2019-05-25 12:51:00       상품A       100.0           김재민
44  2019-02-28 04:11:00       상품A       100.0           김서준
46  2019-02-13 07:28:00       상품A       100.0           김시환
48  2019-07-31 01:32:00       상품A       100.0           김윤찬
51  2019-04-06 11:06:00       상품A       100.0           김태인
58  2019-03-15 09:14:00       상품A       100.0           김강현
59  2019-06-24 05:06:00       상품A       100.0           김시호
68  2019-03-16 17:23:00       상품A       100.0           김주원
86  2019-01-15 22:59:00       상품A       100.0           김하진
96  2019-01-21 03:33:00       상품A       100.0           김진우
102 2019-07-19 14:12:00       상품A       100.0           김서윤
110 2019-03-05 20:21:00       상품A       100.0           김주혁
112 2019-05-18 19:16:00       상품A       100.0           김재준
115 2019-01-28 22:13:00       상품A       100.0           김윤호
118 2019-06-11 12:57:00       상품A       100.0           김재호
128 2019-04-22 03:09:00       상품A       100.0           김강현
132 2019-06-21 11:09:00       상품A       100.0           김승훈
135 2019-03-09 14:20:00       상품A       100.0           김우찬
136 2019-05-11 19:42:00       상품A       100.0           김유찬

In [71]:
## 상품의 목록 변수에 저장
name_list = uriage["item_name"].unique()

In [72]:
for i in name_list:
    price = uriage.loc[~flg_null & 
                    (uriage["item_name"] == i), "item_price"].mean()
    # uriage.loc[flg_null & 
    #                 (uriage["item_name"] == i)] = \
    # uriage.loc[flg_null & 
    #                 (uriage["item_name"] == i)].fillna(price)
    uriage.loc[flg_null & 
                    (uriage["item_name"] == i), "item_price"] = price

In [73]:
uriage.isna().sum()

purchase_date    0
item_name        0
item_price       0
customer_name    0
dtype: int64

In [74]:
uriage.loc[uriage["item_name"] == "상품B"]

          purchase_date item_name  item_price customer_name
139 2019-06-07 00:03:00       상품B       200.0           김재희
140 2019-03-15 06:06:00       상품B       200.0           김서윤
141 2019-06-25 03:12:00       상품B       200.0           김규민
142 2019-04-18 16:44:00       상품B       200.0           김유빈
143 2019-07-27 09:00:00       상품B       200.0           김현수
..                  ...       ...         ...           ...
247 2019-02-17 01:46:00       상품B       200.0           김지완
248 2019-05-21 11:17:00       상품B       200.0           김태우
249 2019-07-02 07:39:00       상품B       200.0           김정민
250 2019-07-09 15:27:00       상품B       200.0           김성민
251 2019-01-20 19:05:00       상품B       200.0           김준호

[113 rows x 4 columns]

In [83]:
uriage_2 = uriage

In [84]:
def change(df, x):
    price = df.loc[~(df["item_price"].isna()) & 
                    (df["item_name"] == x), "item_price"].mean()
    # df.loc[(df["item_price"].isna()) & 
    #                 (df["item_name"] == x)] = \
    # df.loc[(df["item_price"].isna()) & 
    #                 (df["item_name"] == x)].fillna(price)
    df.loc[(df["item_price"].isna()) & 
                    (df["item_name"] == x), "item_price"] = price

In [85]:
for i in name_list:
    change(uriage_2, i)

In [86]:
uriage_2.isna().sum()

purchase_date    0
item_name        0
item_price       0
customer_name    0
dtype: int64

In [88]:
uriage_2.query("item_name == '상품B'")

          purchase_date item_name  item_price customer_name
139 2019-06-07 00:03:00       상품B       200.0           김재희
140 2019-03-15 06:06:00       상품B       200.0           김서윤
141 2019-06-25 03:12:00       상품B       200.0           김규민
142 2019-04-18 16:44:00       상품B       200.0           김유빈
143 2019-07-27 09:00:00       상품B       200.0           김현수
..                  ...       ...         ...           ...
247 2019-02-17 01:46:00       상품B       200.0           김지완
248 2019-05-21 11:17:00       상품B       200.0           김태우
249 2019-07-02 07:39:00       상품B       200.0           김정민
250 2019-07-09 15:27:00       상품B       200.0           김성민
251 2019-01-20 19:05:00       상품B       200.0           김준호

[113 rows x 4 columns]