In [1]:
import pandas as pd

In [2]:
uriage = pd.read_csv("../csv/uriage.csv")
uriage.head()

      purchase_date item_name  item_price customer_name
0  2019-06-13 18:02       상품A       100.0           김가온
1  2019-07-13 13:05     상 품 S         NaN           김우찬
2  2019-05-11 19:42     상 품 a         NaN           김유찬
3  2019-02-12 23:40       상품Z      2600.0           김재현
4   2019-04-22 3:09       상품a         NaN           김강현

In [3]:
uriage.isna().sum()

purchase_date      0
item_name          0
item_price       387
customer_name      0
dtype: int64

1. purchase_date 컬럼의 데이터를 시계열 데이터로 변경
2. item_name의 데이터를 모두 대문자로 변경
3. item_name의 데이터에서 공백을 삭제
4. item_name를 기준으로 오름차순 정렬
5. 인덱스 초기화

In [5]:
# 1. purchase_date 컬럼의 데이터를 시계열로 변경
# pd.to_datetime(변경할 데이터, format = "")
uriage["purchase_date"] = pd.to_datetime(uriage["purchase_date"])

In [8]:
# 2. item_name에 있는 데이터를 모두 대문자로 통일
# upper() 함수를 이용하면 모든 문자가 대문자로 변경

uriage["item_name"] = uriage["item_name"].str.upper()

In [14]:
# 3. item_name의 데이터에서 공백을 제거 
# 공백을 제거하는 함수 
# strip() -> 양쪽의 공백을 제거하는 함수 (문자열 사이에 공백은 제거하지 못한다.)
# replace() -> 지정한 문자열은 대체하는 함수 -> " " , "" 대체를 하는 작업 (공백 제거)

# case1
# uriage["item_name"].str.replace(" ", "")

# case2
# apply 함수

# def change(x):
#     result = x.replace(" ", "")
#     return result

# uriage["item_name"].apply(change)

# case3
# apply 함수 + lamda 함수 

uriage["item_name"].apply(lambda x : x.replace(" ", ""))

0       상품A
1       상품S
2       상품A
3       상품Z
4       상품A
       ...
2994    상품Y
2995    상품M
2996    상품Q
2997    상품H
2998    상품D
Name: item_name, Length: 2999, dtype: object

In [15]:
uriage["item_name"].apply(lambda x : x.replace(" ",""))

0       상품A
1       상품S
2       상품A
3       상품Z
4       상품A
       ...
2994    상품Y
2995    상품M
2996    상품Q
2997    상품H
2998    상품D
Name: item_name, Length: 2999, dtype: object