### 변수

In [ ]:
a = 10
b = "Hello World"
print(a)
print(b)
print(type(a))
print(type(b))

In [ ]:
c = "10"
print(c)
print(type(c))

### 연산자 
1. 대입연산자
2. 비교연산자

In [ ]:
# 주석 
# 언어로써 실행X 
# 설명 부분
## 산술연산자
x = 5
y = 3
print(x+y, x-y, x*y, x/y, x//y, x%y, x**y)

In [ ]:
## 대입연산자 
## +=, -=, *=, .....
## a += 1 -> a = a + 1
## x의 값은 ? 5
## x += 1의 값은 ? x가 6
x += 1
print(x)

In [ ]:
print(x + 1)

In [ ]:
## 현재 x의 값은 ? 19
x -= 3
print(x)
## 결과값은 ? 16

In [ ]:
## 비교 연산자
## 결과값이 논리값 -> True, False
a = 5
b = 3
print(a == b, a != b, a > b, a < b, a >= b, a <= b)
## 결과값은 ? False, True, True, False, True, False

In [ ]:
## and, or, not 
## and -> 두 조건식이 참인 경우에만 참, 그 외에는 거짓
## or -> 두 조건식 중에 하나만 참이면 참, 두 조건식이 모두 거짓인 경우 거짓
## not -> 참인 경우에는 거짓, 거짓인 경우에는 참
print( (a > 3) and (a < 10) ) ## 참, 참 and 결과값은 ? True
print( (a < 3) and (a < 10) ) ## 거짓, 참 and 결과값은 ? False

In [ ]:
print( (a < 3) or (a < 10) ) ## 거짓, 참 or 결과값은 ? True
print( (a > 3) or (a < 10) ) ## 참, 참 or 결과값은 ? True

In [ ]:
not(False) ## not은 부정 -> 반대로 출력 False -> True

### if 문
1. 조건식이 참인 경우에 코드가 실행
2. 조건식이 거짓인 경우에는 코드가 실행이 되지 않는다. 
3. 거짓인 경우 코드를 실행하려면 else 구문을 적어줘야한다.

In [ ]:
a = 5

## 조건식이 참? 거짓 ? -> 참 print("a는 10보다 작다")  실행
if a < 10:
    print("a는 10보다 작다")

## 프로그램 종료라는 print 함수는 실행 유무? 
print("프로그램 종료")

In [ ]:
a = 15

if a < 10 :
    print("a는 10보다 작다")
else :
    print("a는 10보다 크거나 같다")

print("프로그램 종료")

##이 코드 실행 결과 ? 
# "a는 10보다 크거나 같다"
# "프로그램 종료"

In [ ]:
score = int(input("점수를 입력하시오 : "))

if score >= 90 :
    print("A학점")
elif score >= 80 :
    print("B학점")
elif score >= 70 :
    print("C학점")
else : 
    print("F학점")

print("프로그램 종료")

### 반복문 
1. for문
2. while문

In [ ]:
## for문
for i in range(0, 5, 1) :
    print(i)
    
print("반복문 종료")

In [ ]:
for i in range(5) :
    print(i)

In [ ]:
for i in range(2, 20, 2) : 
    print(i)

In [ ]:
for i in range(10, 1, -1) : 
    print(i)

## 문제
1. for문을 이용하여 1부터 10까지의 합계 구하시오
    - 합계라는 변수를 하나 생성 0을 지정
    - for문에서 합계를 증가
    - for문이 끝난 후에 합계를 출력
2. for문을 이용하여 1부터 50까지의 짝수의 합계 구하시오

In [ ]:
## 1부터 10까지의 합계
sum = 0
for i in range(1, 11, 1):
    sum += i 
    # sum = sum + i

print("1부터 10까지의 합은 %d" %sum)

In [ ]:
# sum = 0 , range(1, 51, 1) 1부터 50까지 반복
# 짝수라는 의미는 i % 2 = 0 이면 짝수

sum = 0

for i in range(1, 51, 1):
    if i % 2 == 0 :
        sum += i
        print(i)

print(sum)

### 문제
1. 주사위 2개의 합이 10인 경우의 수를 출력하시오.
    - 다중 for문을 이용
    ```python
    for i in range():
        for j in range():
            두 주사위의 합이 10인 경우에만 출력
    ```

In [ ]:
## 주사위 2개 (경우의 수는 총 36개)
for i in range(1, 7, 1):
    for j in range(1, 7, 1):
        if i + j == 10:
            print(i, j)

In [ ]:
## while문
## 변수 = 초기값
## while 조건식:
##  반복실행될 코드 
##  초기값에 증감식
i = 0 
while i < 10 :
    print(i)
    ## 이 상태에서 실행을 할 경우 ? -> 무한 반복 이유는 i 값이 변하지 않기 때문에
    i += 1

In [ ]:
i = 0

while i < 10:
    i += 1
    print(i)

In [ ]:
## break문
for i in range(1, 100, 1):
    if i == 7:
        break
    print(i)

In [ ]:
for i in range(1, 100, 1):
    print(i)
    if i == 7:
        break

### 1에서 1000까지의 합을 구하는데 합계가 900이 넘어가는 최초의 숫자는 무엇인가?
1. 합계라는 변수를 하나 지정 0을 대입
2. for, while문을 이용하여 1부터 1000까지의 합계를 구하는 반복문 생성
3. 합계가 900이 넘어가는 지점에 i의 값을 출력
4. i값을 출력한 후에는 반복문을 종료

In [ ]:
## for문
sum = 0 
for k in range(1, 1001, 1):
    sum += k
    if sum >= 900 :
        print(k)
        break
print(sum)

In [ ]:
## while문
sum = 0 
i = 1
while i <= 1000 :
    sum += i
    if sum >= 900 :
        print(i)
        print(sum)
        break
    i += 1

In [ ]:
## 튜플 데이터의 형태
a = (10, "test")
b = (3, 3.14)
c = a + b
d = a * 3

print(a, b, c, d)

In [ ]:
# a라는 변수에서 10이라는 원소 값 하나만 출력
print(a[0])

In [ ]:
print(a[1][0])

In [ ]:
a = (10, 20, 30, 40)

In [ ]:
## a라는 튜플에서 2번째 원소부터 4번째 원소까지 출력하려면?
print(a[1:5])
print(a[1:])

In [ ]:
## a 튜플에서 처음부터 3번째 원소까지 출력?
print(a[:3])
print(a[0:3])

In [ ]:
## 리스트 형태
a = [20, 10, 90, 5]
b = [10, 20, 30, 40]

In [ ]:
print(a)
print(b)

In [ ]:
## 리스트에 있는 내장함수
## sort() -> 리스트 내부의 원소들을 오름차순으로 정렬
a.sort()
print(a)

In [ ]:
## 역순으로 변경 -> reverse()
b.reverse()
print(b)

In [ ]:
## append() -> 리스트 가장 마지막에 원소 추가
a.append(22)
print(a)

In [ ]:
l = []
print(l)
l.append(1)
print(l)

### 1부터 70까지 숫자중에 3의 배수를 리스트로 만들어서 출력

In [ ]:
## 비어있는 리스트 하나 생성
a = []
## 1부터 70까지 숫자들을 반복
for i in range(1, 71, 1):
    ## 반복하는 숫자들 중에 3의 배수인 경우
    ## i % 3 == 0 인 경우
    if i % 3 == 0:
        a.append(i)

print(a)

In [ ]:
a = []
i = 1 
while i <= 70:
    if i % 3 == 0:
        a.append(i)
    i += 1
print(a)

In [ ]:
## 딕셔너리 데이터 형태
## 사전형 데이터 
## {key : value}
dict = {"name" : "test", "age" : 20, "phone" : "01012345678"}
print(dict)

In [ ]:
## test 단어를 출력하려면
print(dict["name"])

In [ ]:
## key:value를 추가 
## "area" : "seoul"이 값을 추가
dict["area"] = "seoul"
print(dict)

In [ ]:
## age라는 키값의 value를 30으로 변경하려면?
dict["age"] = 30
print(dict)

In [ ]:
## sql -> Database에서 데이터를 가지고올때 데이터의 형태
## [{key1 : value1, key2 : value2}, {key1 : value3, key2 : value4}, ...]
test_data = [
    {
        "name" : "test", 
        "age" : 20
    }, 
    {
        "name" : "test2", 
        "age" : 30
    }, 
    {
        "name" : "test3", 
        "age" : 35
    }
]

In [ ]:
## test_data 라는 변수에서 {"name" : "test", "age" : 20}인 값을 출력하려면?
print(test_data[0])

In [ ]:
## test_data에서 "test"라는 문자열을 출력하려면?
print(test_data[0]["name"])

In [ ]:
## test_data에서 30이라는 숫자를 출력하려면? 
print(test_data[1]["age"])

### test_data에서 나이 20, 30, 35 이 데이터를 추출해서 리스트의 형태로 출력
0. 비어있는 리스트 생성
1. test_data에서 각 원소별로 총 3번 반복
2. age의 value를 추출해서 비어있는 리스트에 추가
3. 리스트를 출력

In [ ]:
## 비어있는 리스트 생성
result = []
## test_data에서 각 원소별 총 3번 반복 하나씩 추출
for i in range(0, 3, 1):
    # print(test_data[i]["age"])
    result.append(test_data[i]["age"])
print(result)

In [ ]:
test = [10, 20, 6]

for i in test:
    print(i)

In [92]:
## len() 함수는 길이는 출력
len(test)

3

In [93]:
for i in range(0, len(test), 1):
    print(test[i])

10
20
6

In [96]:
## test_data의 데이터의 형태 -> 리스트 []
result = []
for i in test_data :
    # print(i["age"])
    result.append(i["age"])
print(result)

[20, 30, 35]

### 문자열 함수

In [97]:
## 대 소문자 변경
a = "Hello world"
print(a.upper())
print(a.lower())
print(a.title())

HELLO WORLD
hello world
Hello World

In [99]:
## 공백을 제거하는 함수 
## strip()
## replace()
a = "   Hello world   "
a

'   Hello world   '

In [100]:
a.lstrip()

'Hello world   '

In [101]:
a.rstrip()

'   Hello world'

In [102]:
a.strip()

'Hello world'

In [103]:
a.replace(" ", "")

'Helloworld'

In [104]:
a.replace("Hello", "Hi")

'   Hi world   '

In [107]:
## split() -> 기준이 되는 문자열이나 특수문자를 기준으로 문자열을 나눠주는 역할
x = "a,b,c,d"
print(x.split(","))
## c 라는 문자열을 출력하려면?
# case1(split을 사용하지 않는 경우)
print(x[4])
# case2(split을 사용하는 경우)
print(x.split(",")[2])

['a', 'b', 'c', 'd']
c
c

### 함수

In [110]:
## 함수 -> 데이터를 일반적인 저장 방식, 뭔가 행동을 하고 난 뒤에 결과값 돌려주는
## def 함수명 (매개변수):

def func_1(a, b):
    result = a + b
    return result

c = func_1(5, 3)
print(c)
print(func_1(1,3))
print(func_1(10,2))

8
4
12

### 변수의 종류
1. 전역 변수
    - 어디서든 사용이 가능한 변수
    - 들여쓰기를 하지 않은 공간에서 지정한 변수
2. 지역 변수
    - 특정한 구간에서만 사용이 가능한 변수
    - 함수 안에서 만든 변수(들여쓰기를 한 곳에서 지정한 변수)

In [115]:
x = 3

def func_2(a):
    result = a * x
    return result

print(x)
print(func_2(4))

3
12

In [117]:
def func_3(a):
    func_3_y = 3
    func_3_result = a * func_3_y    
    return func_3_result

print(func_3(4))

12

In [123]:
def func_4(a, b, c = 1) :
    result = a + b - c
    return result

print(func_4(5,3), end="")
print(func_4(5,3,4), end="")
print(func_4(b = 3, c = 5, a = 1))

74-1

### 함수 생성 문제
1. 함수 생성 매개변수 3개 a,b,c
2. c의 값이 '합'이면 result = a+b
3. c의 값이 '차'이면 result = a-b
4. 그 외의 값이면 result = 'Error'
5. return result
6. print(함수명(3개의 인자값))
7. 합과 차 그리고 Error 출력

In [124]:
def func_5(a,b,c):
    if c == "합":
        result = a + b
    elif c == "차":
        result = a - b
    else : 
        result = "Error"
    return result
print(func_5(1,2,"합"))
print(func_5(1,2,"차"))
print(func_5(1,2,"곱"))

3
-1
Error

### 함수 생성
1. 매개변수(a,b) 2개를 가진 함수 생성 (매개변수에는 숫자형만 넣어서 실행)
2. a와 b 사이에 숫자들의 합계를 return (a와 b가 모두 포함되어 있는 경우)
3. a와 b 사이에는 대소관계는 정해져있지 않다. (a<b, a>b, a==b)
4. a와 b가 같은 경우에는 a를 return
4. print(func_6(1, 10)) -> 55
5. print(func_6(10, 1)) -> 55

In [127]:
def func_6(a, b):
    sum = 0
    if a < b :
        for i in range(a, b+1, 1):
            sum += i
    elif a > b :
        for i in range(b, a+1, 1):
            sum += i
    else : 
        sum = a
    return sum
print(func_6(1, 10))
print(func_6(10, 1))

55
55

In [130]:
def func_7(a, b):
    sum = 0 
    for i in range(min(a, b), max(a, b)+1, 1):
        sum += i
    return sum

print(func_7(1, 10))
print(func_7(10, 1))

55
55

In [131]:
def func_8(a, b):
    sum = 0
    if a < b :
        while a <= b:
            sum += a
            a += 1
    elif a > b : 
        while b <= a:
            sum += b
            b += 1
    else : 
        sum = a
    return sum
print(func_8(1, 10))
print(func_8(10, 1))

55
55